body {
  display: none;
  overflow-x: hidden;
}
#mathOperators{
	position: absolute;
	padding: 13px 10px 9px 4px;
	margin-left: 57%;
	z-index: 2;
	background-color: white;
	border-radius: 3px;
	border: 1px solid;
	border-color: #9C9C9C;
	-moz-box-shadow: 2px 4px 5px 2px #ccc;
	-webkit-box-shadow: 2px 4px 5px 2px #ccc;
	box-shadow: 2px 4px 5px 2px #ccc;
}
#mathOperators>div{
	float:left;
	padding: 7px 22px 23px 12px;
	position: relative;
	border: 1px solid;
	border-radius: 3px;
	height: 15px;
	width: 15px;
	margin-left: 5px;
	cursor: pointer;
}
/*Video styling begins*/
	video {
	    max-width: 100%;
	    height: auto;
		}
		iframe,
	embed,
	object {
		max-width: 100%;
	}



	.vendor {
		padding: 2%;
		background: #d1eed1;
		margin-bottom: 2em;
	}

	.unsupported {
		background: #fddfde;
	}
/*Video styling ends*/


#buttonSideMenu{
	margin-top: 10px;
	position: fixed;
	float: left;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.5) url('../img/global/menu.png') center center;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#buttonSideMenu:hover{
	background-color: black;
}
.sideHeaderContainer{
	position: relative;
}

article>#aptitude {
	float: right;
	margin-top: 15px;
	color: #000;
	font-family: "NexaBold";
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 30px;
	text-transform: uppercase;
}

#slidingMenu>span{
	margin: 0px;
	margin-bottom: 2px;
	color: #9E9E9E;
	display: block;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 23px;
	font-family: "OpenSansLight";
	background: rgba(0,0,0,0.1);
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

header{
	z-index: 2;
	position: fixed;
	height: 70px;
	padding: 5px 25px;
	width: 100%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}
header + .spacer{
	height: 70px;
	width: 100%;
	z-index: -1;
	position:fixed;
}

#slidingMenu{
	position: fixed;
	height: 100%;
	z-index: 3;
	width: 200px;
	font-family:"NexaBold";
	background-color: #1E1F21;
	left:-200px;
	overflow-y:auto;
	overflow-x:hidden;
}

#slidingMenu>h1 {
	font-family:"NexaBold";
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	margin: 20px 10px;
}
#slidingMenu>a {
	margin: 0px;
	margin-bottom: 2px;
	color: #9E9E9E;
	display: block;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 23px;
	font-family: "OpenSansLight";
	background: rgba(0,0,0,0.1);
	padding: 10px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	text-decoration: none;
	text-transform: uppercase;
}

#slidingMenu>a:hover{
	background: #f26522;
	color: #ffffff;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#rightInfoBar{
	z-index: 1;
	position: fixed;
	right: 0%;
	padding-top: 90px;
	background-color: rgb(58, 58, 58);
	height: 100%;

}

#sideBarHeader{
	color:white; font-family:'NexaBold';
	font-size: 19px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 30px;
	text-transform: uppercase;
}

.sectionContentWrapper{
	margin-bottom: 40px;
}





#contentSubWrapper{
	z-index: 0;
	padding-top: 87px;
}

#allButSideBar{
	background-color: white;
	width: 100%;
	height: 100%;
	z-index:10;
	overflow-x: hidden;
}

#feedback{
	width: 250px;
	height: 40px;
	top:0px;
	float: right;
	margin-top:7px;
	margin-right:20px;
	overflow: hidden;
}
#feedback>a>span{
	font-family: nexalight;
	font-size:18px;
	color: black;
}
#feedback>a{
	text-decoration: none;
}
#feedback>a:hover{
	text-decoration: none;
}


footer{
	font-family: nexalight;
	position:relative;
	z-index: 0;
	width:100%;
	height: 50px;
	background-color: orange;
	padding: 10px 0px 25px 25px;
	float: left;
	box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.3);
}

footer>section{
	text-align:left;
	float:left;

}
footer>section>img{
	width:30px;
}
 


/*STICKY FOOTER START*/
footer>section{
	margin-top:5px;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: Nexa Light;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px; 
}
.site-footer {
  background: white;
}

/*STICKY FOOTER END*/

#headerSpacer{
	width: 100%;
	height: 100px;
}



.top-buffer { margin-top:15px; }

.morris-hover{position:absolute;z-index:2;}
.morris-hover.morris-default-style {
border-radius: 10px;
padding: 6px;
background: rgba(255, 255, 255, 0.8);
border: solid 2px rgba(230, 230, 230, 0.8);

}
.dataContainer{
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #eee;
}
text{
	display:none;
}
.margin-top{
	position: relative;	
	top:25px;
}
.percentBehind{
	text-align: center;
	color:red;
}
td>img{
	width: 35px;
}
tr>td{
	vertical-align: middle !important;
}
.loader{display:none;}
.roundedPhotoSmall{
	width: 36px;
	height: 36px;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}
.positiveProgress{
	color:green;
}

.footerSpacer{
	height:50px;
}
.phoneShow{
	display: none;
}
.phoneHide{
	display: inline;
}

@media(max-width:768px){
	.row-fluid div:nth-child(n+2) {
	    margin-top:25px;
	}
	.phoneShow{
		display: inline;
	}
	.phoneHide{
		display: none;
	}
	header{
		box-shadow: none;
		background-color: transparent;
	}
}

