body {/*display: none; //enable this after dev*/ overflow-x: hidden;}
a:not(#slidingMenu>a):link {text-decoration:none !important; color:#333 !important; }
a:not(#slidingMenu>a):visited {text-decoration:none !important; color:#333 !important; }
a:not(#slidingMenu>a):hover {text-decoration:none !important; color:#ACACAC !important; }
a:not(#slidingMenu>a):active {text-decoration:none !important; color:#ACACAC !important; }
h1{font-size: 60px;	font-family: minion pro; color:#F79234; text-transform:uppercase; letter-spacing:2px;}
.link{cursor: pointer;}
.chapterArrow{width: 14% !important};


#mathOperators{
	position: absolute;
	padding: 13px 10px 9px 4px;
	margin-left: 57%;
	z-index: 2;
	background-color: white;
	border-radius: 3px;
	border: 1px solid;
	border-color: #9C9C9C;
	-moz-box-shadow: 2px 4px 5px 2px #ccc;
	-webkit-box-shadow: 2px 4px 5px 2px #ccc;
	box-shadow: 2px 4px 5px 2px #ccc;
}
#mathOperators>div{
	float:left;
	padding: 7px 22px 23px 12px;
	position: relative;
	border: 1px solid;
	border-radius: 3px;
	height: 15px;
	width: 15px;
	margin-left: 5px;
	cursor: pointer;
}
/*Video styling begins*/
	video {
	    max-width: 100%;
	    height: auto;
		}
		iframe,
	embed,
	object {
		max-width: 100%;
	}
	.vendor {padding: 2%; background: #d1eed1; margin-bottom: 2em;}
	.unsupported {background: #fddfde;}
/*Video styling ends*/


#buttonSideMenu{
	margin-top: 10px;
	position: fixed;
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: url('../img/global/menu.png') center center;
	/*-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;*/
}
#buttonSideMenu:hover{
	/*background-color: rgba(0,0,0,0.13);*/
}
.sideHeaderContainer{
	position: relative;
}

article>#aptitude {
	float: right;
	margin-top: 15px;
	color: #000;
	font-family: "NexaBold";
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 30px;
	text-transform: uppercase;
}

#slidingMenu>span{
	margin: 0px;
	margin-bottom: 2px;
	color: #9E9E9E;
	display: block;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 23px;
	font-family: "OpenSansLight";
	background: rgba(0,0,0,0.1);
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

header{
	z-index: 555555;
	position: fixed;
	height: 70px;
	padding: 5px 25px;
	width: 100%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}
header + .spacer{
	height: 70px;
	width: 100%;
	z-index: -1;
	position:fixed;
}

#slidingMenu{
	position: fixed;
	height: 100%;
	z-index: 3;
	width: 200px;
	font-family:"NexaBold";
	background-color: #1E1F21;
	left:-200px;
	overflow-y:auto;
	overflow-x:hidden;
}

#slidingMenu>h1 {
	font-family:"NexaBold";
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	margin: 20px 10px;
}
#slidingMenu>a {
	margin: 0px;
	margin-bottom: 2px;
	color: #D5D5D5;
	display: block;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 23px;
	font-family: "OpenSansLight";
	background: rgba(0,0,0,0.1);
	padding: 10px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	text-decoration: none;
	text-transform: uppercase;
}

#slidingMenu>a:hover{
	background: #f26522;
	color: #ffffff;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#rightInfoBar{
	z-index: 1;
	position: fixed;
	right: 0%;
	padding-top: 90px;
	background-color: rgb(58, 58, 58);
	height: 100%;

}

#sideBarHeader{
	color:white; font-family:'NexaBold';
	font-size: 19px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 30px;
	text-transform: uppercase;
}

.sectionContentWrapper{
	margin-bottom: 40px;
}





#contentSubWrapper{
	z-index: 0;
	padding-top: 87px;
}

#allButSideBar{
	background-color: white;
	width: 100%;
	height: 100%;
	z-index:10;
	overflow-x: hidden;
}
#feedback>a>span{
	font-family: nexalight;
	font-size:18px;
	color: black;
}
#feedback>a{
	text-decoration: none;
}
#feedback>a:hover{
	text-decoration: none;
}


footer{
	font-family: nexalight;
	position:relative;
	z-index: 0;
	width:100%;
	height: 50px;
	background-color: orange;
	padding: 10px 0px 25px 25px;
	float: left;
	box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.3);
}

footer>section{
	text-align:left;
	float:left;

}
footer>section>img{
	width:30px;
}
 


/*STICKY FOOTER START*/
footer>section{
	margin-top:5px;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: nexalight;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px; 
}
.site-footer {
  background: white;
}

/*STICKY FOOTER END*/

#headerSpacer{
	width: 100%;
	height: 100px;
}
#headerSpacerSmall{
	width: 100%;
	height: 70px;
}



.top-buffer { margin-top:15px; }

.dataContainer{
	border: 2px solid #F79234;
	padding: 25px !important;
}
#conceptBreakdown>div>div>svg>g>g>text{
	display:none;
}
#completionProgress>div>div>svg>g>g>text{
	display:none;
}
.margin-top{
	position: relative;	
	margin-top:65px;
}
.margin-bottom{
	position: relative;	
	margin-bottom:65px;
}

.percentBehind{
	text-align: center;
	color:red;
}
.percentAhead{
	text-align: center;
	color:green;
}
td>img{
	width: 35px;
}
tr>td{
	vertical-align: middle !important;
}
.loader{display:none;}
.roundedPhotoSmall{
	width: 36px;
	height: 36px;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}
.positiveProgress{
	color:green;
}

.footerSpacer{
	height:50px;
}
.phoneShow{
	display: none;
}
.phoneHide{
	display: inline;
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width : 1024px) {
	.row-fluid div:nth-child(n+2) {
	    margin-top:25px;
	}
	.phoneShow{
		display: inline;
	}
	.phoneHide{
		display: none;
	}
	/*header{
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.0);
		background-color: transparent;
	}*/
}
.noMarginTop{
	margin-top:0px;
}




/******************************************************************
***********************  Right Side Bar Styling** *****************
******************************************************************/

/********Universal Layout********
********************************/
.rightSideBar>section>.content{
	text-align: left;
}
.rightSideBar>section>section>article>.row:not(:first-child){
	margin-top:15px;
}
.sideBarHighlights>article>img{
	width:90%; 
	min-width:50px;
}

/*****Phone**********************
******Portrait*******************
********************************/
@media only screen and (max-width : 320px) {
	.rightSideBar{
		height: 115px !important;
	}
	.content>article{
		margin-top: 25px;
	}
	.rightSideBar>section>.divider{
		height: 14px;
		top: 20px;
	}
}
/*****Phone**********************
******Landscape******************
********************************/
@media only screen and (min-width : 321px) and (max-width : 768px) {
	.rightSideBar{
		height: 80px !important;
	}
	.sideBarHighlights>article>img{
		margin-top: 3px;
		max-height:39px;
		min-width:39px;
		max-width:39px;
		width:39px;
	}
	.sideBarHighlights>article{
		text-align: right;
	}
	.rightSideBar>section>.divider{
		max-height: 2px;
		top:13px;
	}
	#initialSpacer{
		padding-top: 0px !important;
	}
}
/*****Tablet*********************
******Portrait*******************
********************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.rightSideBar{
		height: 115px !important;
	}
	.content>article{
		margin-top: 15px;
	}
	.rightSideBar>section>.divider{
		max-height: 14px;
		top: 20px;
	}
	.sideBarHighlights>article{
		text-align: right;
		top: 15px;
	}
	.sideBarHighlights>article>img{
		margin-top: 0px;
		height:39px;
		max-width:39px;
		min-width:39px;
	}
	#initialSpacer{
		padding-top: 40px !important;
	}
}
/*****Tablet**********************
******Landscape*******************
*********************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.rightSideBar{
		height: 115px !important;
	}
	.content>article{
		margin-top: 25px;
	}
	.rightSideBar>section>.divider{
		max-height: 14px;
		top: 20px;
	}
	.sideBarHighlights>article{
		text-align: center;
		top: 15px;
	}
	.sideBarHighlights>article>img{
		margin-top: 3px;
		height:39px;
		max-width:39px;
		min-width:39px;
	}
	#initialSpacer{
		padding-top: 40px !important;
	}
}

/******Desktops and laptops******
********************************/
@media only screen and (min-width : 1024px) {
	.sideBarHighlights{
		margin-top:20px;
		padding:0px !important;
	}
	.pointers{
		margin-top:0px !important;
	}
}

/*****Desktop********************
******Landscape & Portrait*******
********************************/
@media only screen and (min-device-width : 1024px) {
	.rightSideBar{
		z-index: 1;
		position: fixed !important;
		right: 0%;
		padding-top: 15px;
		background-color: rgb(58, 58, 58);
		height: 100%;
		text-align: center;
		color:#F0FFFF;
		font-family: Open Sans;
	}
	.rightSideBar>section>article>span.header{
		color: white;
		font-family: 'NexaBold';
		font-size: 19px;
		font-weight: 800;
		letter-spacing: 0.15em;
		line-height: 30px;
		text-transform: uppercase;
	}
	.rightSideBar>section>.divider{
		position: relative;
		background: url('../img/global/mask/raster-light.png') repeat;
		height: 14px;
		margin-bottom: 15px;
		margin-top: 
	}
}

/*************************************
******Not quite sure how to fix this but it works. Its selecting everything smaller than 1024 though****
********************************/
@media only screen and (max-device-width : 1024px) {
	.rightSideBar{
		z-index: 1;
		position: fixed !important;
		width: 100%;
		padding-top: 10px;
		background-color: rgb(58, 58, 58);
		height: 150px;
		left: 0px;
		top: 0px;
		text-align: left;
		color:#F0FFFF;
		font-family: Open Sans;
	}
	.rightSideBar>section>article>span.header{
		color: white;
		font-family: 'NexaBold';
		font-size: 19px;
		font-weight: 800;
		letter-spacing: 0.15em;
		line-height: 30px;
		text-transform: uppercase;
		padding-left: 50px;
	}
	.rightSideBar>section>.divider{
		background: url('../img/global/mask/raster-light.png') repeat;
		height: 14px;
		margin-top:-20px;
		width: 90%;
		margin-left: 7%;
	}
	.sideBarHighlights{
		margin-top:-20px;
	}
}




/*****Phone**********************
******Landscape & Portrail*******
********************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/*****Phone**********************
******Landscape******************
********************************/
@media only screen and (min-width : 321px) {
/* Styles */
}
/*****Phone**********************
******Portrait*******************
********************************/
@media only screen and (max-width : 320px) {
/* Styles */
}
/*****Tablet*********************
******Landscape & Portrait*******
********************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/*****Tablet*********************
******Portrait*******************
********************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}



/*******************************************************************************************
************************ FORMATTING OF APTITUDE LEARNING ***********************************
*******************************************************************************************/

#initialSpacer>section{
	margin-top:0px;
}
/***********************************************
******************TEXT FORMATTING***************
***********************************************/
.standoutText{
font-weight: 700;
font-size: 18px;
}
.standoutTextLink:hover{
	color:#757575;
}
.clearListFormat{
	list-style:none;
}





/***********************************************
***********CONTAINER VISUAL STYLING*************
***********************************************/
.contentDivider{
	background: url('../img/global/mask/raster-light.png') repeat;
	height: 14px;
	margin: 40px 0px;
}


/***********************************************
*********MISC ELEMENT VISUAL STYLING************
***********************************************/
.contentDividerLine{
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #F26522, #F26522, #F26522); 
    background-image:    -moz-linear-gradient(left, #F26522, #F26522, #F26522); 
    background-image:     -ms-linear-gradient(left, #F26522, #F26522, #F26522); 
    background-image:      -o-linear-gradient(left, #F26522, #F26522, #F26522);
}
.darkTable{
	background-color: #EBEBEB;
}

.orangeTable th{
	background-color: #F26522;
	border-bottom: solid 2px white !important;
	border: solid 2px white;
	color: white;
	text-align: center;
}
.orangeTable td{
	border-top: none;
	border: solid 2px white;
	background-color: rgb(238, 238, 238);
	color: rgb(111, 111, 111);
}

/******Desktops and laptops******
********************************/
@media only screen and (min-width : 1024px) {
}


/*****Phone**********************
******Landscape & Portrait*******
********************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#initialSpacer>section{
		margin-top:15px;
	}
	#initialSpacer{
		padding-top: 20px;
	}
}




.chapter-number>img{
	width: 100%;
}



.readyButton{
	padding: 11px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #F79234;
	border: 0px;
	color: #EBEBEB;
	width: 100%;
	margin-top: 25px;
	max-width: 294px;
}
.practiceButton{
	margin-top: 10px;
	margin-bottom: 25px;
}
.practiceResult{
	/*Initially hide the results and display the one that is appropriate*/
	display: none;
	-webkit-transition: display 2s;
    transition: display 2s;
}

.ProblemEditor{	
	background-color: white;
	border-radius: 5px;
	border: solid 1px #bbbbbb;
	 padding-top: 15px; 
}


/****OPERATOR TOOLBAR******/
.operatorToolbar{
	position: fixed;
	top: -100px;
	background-color: white;
	padding: 15px;
	width: 100%; 
	z-index: 11;
	text-align: center;
}
.scrollable{
	/*To make it scrollable*/
	/*min-width: 1785px;*/
	margin-left: -665px;
	left: 50%;
	width: 1330px;
	position: relative;	
}
.operatorButton{	
	position: relative;
	float: left;
	margin-right: 15px !important;
	z-index: 11;
	padding: 4px 5px !important;
	width: 4.4%;
	min-width: 45px;
	max-width: 55px;
	border: solid 1px #D8D7D7;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: border .3s;
    transition: border .3s;
}
.operatorButton:hover{
	border: solid 1px #979797;
}
.operatorButton>img{
	width: 30px;
}
