@media only screen and (max-width: 800px) {
	#roster table td:nth-child(3), 
	#roster table th:nth-child(3) {display: none;}
}
@media only screen and (max-width: 640px) {
	#roster table td:nth-child(1),
	#roster table th:nth-child(1){display: none;}
}

@media only screen and (max-width: 640px) {
	#completionDate table td:nth-child(3), 
	#completionDate table th:nth-child(3) {display: none;}
}
.darkHover:hover{
	background-color: whitesmoke;
}

h1 {
	font-size:60px;
	font-family:minion pro;
	color:#F79234;
	text-transform:uppercase;
	letter-spacing:2px
}

h3 {
	font-size:20px;
	font-family:nexabold;
	color:#F79234;
	text-transform:uppercase;
	letter-spacing:4px
}