.roundedProfile{
	width: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

/*Activity chart styling*/
.activityChart{
	line-height: 0em !important;
}
.activityChart>div{
	width: 16px;
	height: 16px;
	padding: 1px; 
	float: left;
}
.activityChart>div>div{
	width: 14px;
	height: 14px;
}
.activityChart>div>div>div{
	width: 14px;
	height: 14px;
}
.activityChart>div>div:hover{
	border:1px solid;
}
.activityLow{
	background-color: #AFAFAF;
}
.activityHigh{
	background-color: #5D6A8A;
}
.activityNone{
	background-color: rgb(231, 231, 231);
}
