.headerOutline{
	font-size: 34px;
	letter-spacing: 0.15em;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	padding: 11px 0px 7px 0px;
	border-top: solid 1px #f26522;
	border-bottom: solid 1px #f26522;
	margin-bottom: 15px;
}
.definition{
	background-color: #EBEBEB;
	padding:20px;
}
.definition>blockquote{
	margin:0px;
}

.practiceProblems{
	padding:10px;
}
.numberLine{
	width:300px; 
	height:25px;
}
td{
	text-align:center; 
}
td>div{
	margin-left: auto;
	margin-right: auto;
}
.video{
	margin-bottom: 5px;
}

.graphImage{
	width: 60%;
	margin-left: 20%;
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	body{
		font-size: 17px;
	}
}