body{
	background-color: #EBEBEB;
}
.pretestWrapper{
	background-color: #EBEBEB;
}
.text-body{
	padding-left: 0px !important;
	margin-top:5px;
}
.material-body{
	padding-left: 0px;
	padding-top: 8%;
	padding-right: 25px;
}

#prequiz{
	height: 100%;
}
.appendExpression>div>span.MathJax{
	font-size: 2.5em;
}

.no-padding{
	padding:0px;
}
.section-number{
	font-size: 20px;
	font-family: nexabold;
	color: #606163;
	text-transform: uppercase;
	letter-spacing:4px;
	padding-bottom:30px;
}
.section-title{
	margin-bottom: 0px;
}
p{
	font-family: open sans;
	font-size: 14px;
	color: #606163;
}
.readyButton{
	padding: 11px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #F79234;
	border: 0px;
	color: #EBEBEB;
	width: 100%;
	margin-top: 25px;
	max-width: 294px;
}

/*STICKY FOOTER - START*/
	* {
	  margin: 0;
	}
	html, body {
	  height: 100%;
	}
	.page-wrap {
	  min-height: 100%;
	  /* equal to footer height */
	  margin-bottom: -90px; 
	}
	.page-wrap:after {
	  content: "";
	  display: block;
	}
	.site-footer, .page-wrap:after {
	  /* .push must be the same height as footer */
	  height: 90px; 
	}
	footer{
		font-family: nexabold;
		z-index: 0;
		background-color: #EBEBEB !important;
		box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.0);
	}
	footer>section>img {
		width: 10px;
		margin-top: -3px;
	}
/*STICKY FOOTER - END*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	h1{
		font-size: 45px;
	}
	.material-body{
		padding-top: 3%;
	}
}

button{
	-webkit-transition: background-color .3s;  /* For Safari 3.1 to 6.0 */
    transition: background-color .3s;
	outline: none;
}


h1{font-size: 60px;	font-family: minion pro; color:#F79234; text-transform:uppercase; letter-spacing:2px;}



/*PROGRESS BART*/
.meterwrapper {
	width: 80%;
	margin-left: 10%;
	margin-top: 15px;
}
.meter {
	height: 20px;
	position: relative;
	border: none;
	border-color: rgba(0, 0, 0, 0.35) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.35) rgba(0, 0, 0, 0.35);
	border-style: solid;
	border-width: 1px;
	width: 114%;
	margin-left: -8%;
}
.meter > span {
	display: block;
	height: 100%;
	background-color: #F79234;
	position: relative;
	overflow: hidden;
}
.pretestProblemBreakdownContainer{
	margin-top: 200px;
}