/*GLOBAL STYLING*/
	h1{
		font-size: 60px;
		font-family: minion pro;
		color: #F79234;
		text-transform: uppercase;
	letter-spacing: 2px;
	}
	.grayBg{
		background-color: #EBEBEB;
	}
	/*GLOBAL STYLING*/
	.delContent,.delContentgroup,.addContentgroup,.addContent{
		cursor:pointer;
	}
	.addContent{
		margin-top: 8px;
	}
	.fa{
		font-size: 20px;
	}
	.handle{cursor: pointer}
	.horizontalSort{
		/*
		width: 33.3333%;
		*/
		width: 100%;
		vertical-align: top;
		display:inline-block;
	}
	.subSortable{
		overflow-x:scroll; 
		overflow-y:hidden; 
		width: auto;
   		white-space:nowrap; 
	}
	.wrap{
	   white-space:normal; 
	   padding: 15px 20px;
	   border: 1px dashed #CACACA;
	   min-height: 164px;
	}

	.modifyContentContainer{
		background-color: white;
		border: solid 1px #ADADAD;
		border-radius: 10px;
		min-height: 25px;
		padding: 0;
		overflow-x: hidden; 
	}
	.verticalSort{
		background: none; 
		border: none;
		background-color: white !important;
	}
	.ui-state-highlight {display:inline-block;}
	


	.pseudoHorizontalSort{
	width: 33.3333%;
	display:inline-block;
	}
	.pseudoWrap{
	   white-space:normal; 
	   padding: 15px 20px;
	}
	.groupLegend{
		float: left;
		width: 215px;
		background-color: lightgray;
		border-top: 1px solid white;
		border-bottom: 1px solid rgb(194, 194, 194);
	}
	.addNewSection{
		float: left;
		width: 40px;
		height: 172px;
		text-align: center;
		padding: 46px 0;
		border-left: 1px solid white;
		cursor: pointer;
		transition: all .2s;
		-webkit-transition: all .3s;
	}
	.addNewSection:hover{
		background-color: rgb(232, 232, 232);;
	}
	.groupIcons{
		float: left;
	}
	.legendIcons{
		float: left;
		width: 40px;
		text-align: center;
		padding: 15px 0px;
	}
	.legendOptions{
		float: left;
		width: 135px;
		padding: 15px 5px;
		border-right: 1px solid rgb(190, 190, 190);
	}
	.mediumSelect{
		max-width: 215px;
		float: left;
	}
	.sectionLegend{
		text-align: center;
		height: 40px;
		padding-left: 20%;
	}
	.sectionLegend>.fa{
		float: left;
		line-height: 34px;
		padding: 0 30px 
	}






.subSortable::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.subSortable::-webkit-scrollbar-track {
	background-color: rgba(113,112,107,0.1);
	-webkit-border-radius: 5px;
}
.subSortable::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
}
.subSortable::-webkit-scrollbar-thumb:vertical:hover,
.subSortable::-webkit-scrollbar-thumb:horizontal:hover {
	background: #F79234;
}
.subSortable::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
}



body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
body::-webkit-scrollbar-track {
	background-color: rgba(113,112,107,0.1);
	-webkit-border-radius: 5px;
}
body::-webkit-scrollbar-thumb:vertical {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
}
body::-webkit-scrollbar-thumb:vertical:hover,
body::-webkit-scrollbar-thumb:horizontal:hover {
	background: #F79234;
}
body::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
}